[Unit]
Description=keeps minecraft server up

[Service]
Type=forking
User=root
WorkingDirectory=/root/minecraft-server/
EnvironmentFile=/etc/.argconf
ExecStart=/usr/bin/python3 mc-server.py -d
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
